@using Microsoft.AspNet.Identity;
@using System.Configuration;
@model Vivero.Models.ClienteViewModels
@{
    ViewBag.Title = "Registrar datos del cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registrar datos personales</h2>
<script type="text/javascript">
    
</script>
@using (Html.BeginForm("Registrar", "Cliente", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Por favor ingrese sus datos</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="row">
        <div class="col-md-5 col-md-offset-1">
            <div class="thumbnail" id="Datos personales">
                <br />
                <h3>Datos personales</h3>
                <br />
                <div class="form-group">
                    <div  class="col-md-3">
                        @Html.LabelFor(c => c.TipoDeDocumentoId.tipoDeDocumento, new { @class= "col-md-3 control-label"})
                    </div>
                    <div class="col-md-5">
                        @Html.DropDownListFor(c => c.documentoId, ViewBag.tiposDeDocumento as IEnumerable<SelectListItem>, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.LabelFor(c => c.dNI, new { @class = "col-md-3 control-label" })
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(c => c.dNI, new { @class = "form-control", @Id = "txtDni", @onchange = "validar_documento('Verificar DNI', 'txtDni', 'Debe ingresar un DNI valido')" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.LabelFor(c => c.fecha, new { @class = "col-md-3 control-label" })
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(c => c.fecha, new { @class = "form-control", @Id="txtCalendario", onFocus="Calendario('txtCalendario');", @ReadOnly="False"})
                    </div>
                </div>
            </div>
            <div class="thumbnail" id="Datos de contacto">
                <br />
                <h3>Datos de contacto</h3>
                <br />
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.LabelFor(c => c.telefono, new { @class = "col-md-3 control-label" })
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(c => c.telefono, new { @class ="form-control", @onchange="validar('" + ConfigurationManager.AppSettings["telefono"] + "', 'txtTelefono', 'Debe ingresar un número de telefono valido', 'Número de telefono no valido');", @Id="txtTelefono"})
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.LabelFor(c => c.celular, new { @class = "col-md-3 control-label" })
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(c => c.celular, new { @class = "form-control", @onchange ="validar('" + ConfigurationManager.AppSettings["celular"] + "', 'txtCelular', 'Debe ingresar un número de celular valido', 'Número de celular no valido');", @Id = "txtCelular" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.LabelFor(c => c.EmailId, new { @class = "col-md-3 control-label" })
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(c => c.EmailId, new { @class = "form-control", @onchange = "validar('" + ConfigurationManager.AppSettings["email"] + "', 'txtEmail', 'Debe ingresar un email valido', 'Email no valido');", @Id="txtEmail" })
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="thumbnail" id="Domicilio">
                <br />
                <h3>Domicilio</h3>
                <br />
                <div class="form-group">
                    <div class="col-md-2">
                        @Html.LabelFor(c => c.DomicilioId.calle, new { @class = "col-md-2 control-label" })
                    </div>
                    <div class="col-md-4">
                        @Html.TextBoxFor(c => c.DomicilioId.calle, new { @class = "form-control" })
                    </div>
                    <div class="col-md-1">
                        @Html.LabelFor(c => c.DomicilioId.nro, new { @class = "col-md-1 control-label" })
                    </div>
                    <div class="col-md-1">
                        @Html.TextBoxFor(c => c.DomicilioId.nro, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.LabelFor(c => c.DomicilioId.barrio, new { @class = "col-md-3 control-label" })
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(c => c.DomicilioId.barrio, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.LabelFor(c => c.DomicilioId.LocalidadId.ProvinciaId.provincia, new { @class = "col-md-3 control-label" })
                    </div>
                    <div class="col-md-5">
                        @Html.DropDownListFor(c => c.DomicilioId.provinciaId, ViewBag.Provincias as IEnumerable<SelectListItem>, new { @class = "form-control", @Id = "ddlProvincias", @onChange = "activarDropdownList('Localidades por provincia', 'No se encontraron localidades para esa provincia')" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.LabelFor(c => c.DomicilioId.LocalidadId.localidad, new { @class = "col-md-3 control-label" })
                    </div>
                    <div class="col-md-5">
                        <select Id="ddlLocalidades" class="form-control" onchange="FuncionDePrueba(this)"> </select>
                        @Html.HiddenFor(c => c.DomicilioId.localidadId, new { @Id="localidadId"})
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-10 col-md-1">
            <input type="submit" class="btn btn-default" value="Registrar" />
        </div>

    </div>
}

<!-- Modal -->
<div class="modal fade" id="validaciones" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titulo">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3 id="mensaje"></h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



